<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Send_And_Delete.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <Send_And_Delete.Properties.Settings>
            <setting name="Path" serializeAs="String">
                <value>폴더 경로를 지정하세요.(클릭시 팝업)</value>
            </setting>
            <setting name="AD" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoRun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WinStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ST_Tray" serializeAs="String">
                <value>False</value>
            </setting>
        </Send_And_Delete.Properties.Settings>
    </userSettings>
</configuration>